@page
@model CrearModel
@using Data

@{
    ViewData["Title"] = "Productos";
}

<div class="text-center">
    <h1 class="display-4">Crear Producto</h1>
</div>
<div>
    <form method="POST">
        <p>Nombre: <input type="text" name="nombre"></p>
        <p>Umbral: <input type="number" name="umbral"></p>
        <p><input type="submit" value="Crear Producto"></p>
    </form>
    <p>
        <a asp-page="./Index">Volver</a>
    </p>
</div>