@page
@model CrearModel
@using Data

<div class="text-center">
    <h1 class="display-4">Agregar Mantencion</h1>
</div>
<div>
    <form asp-page="NuevoProducto" method="POST">
        <p>Nombre: <input type="text" name="nombre"></p>
        <p>Umbral: <input type="number" name="umbral"></p>
        <p><input type="submit" value="Crear Producto"></p>
    </form>
</div>